/* 常用flex布局方式 */
.fl-row-left {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.fl-row-leftBaseline {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: flex-start;
}

.fl-row-leftStretch {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
}

.fl-row-leftStart {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.fl-row-leftEnd {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-start;
}

.fl-row-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.fl-row-right {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}

.fl-row-rightTop {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.fl-row-around {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.fl-row-justy {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.fl-row-justyStart {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.fl-row-justyEnd {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.fl-row-justyStretch {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
}

.fl-column-leftCenter {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
}

.fl-column-left {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}

.fl-column-leftStart {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.fl-column-rightStart {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.fl-column-right {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-end;
}

.fl-column-rightEnd {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.fl-column-center {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.fl-column-justyStart {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.fl-column-betweenStart {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.fl-column-justy {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

.fl-column-between {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

.fl-column-betweenStretch {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: space-between;
}