.login-page {
  background: url('../../../Icon/login-bg.png') no-repeat 0 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 16%;
}

.logoText {
  font-size: 18px;
  font-weight: 600;
}

.loginTitle {
  font-size: 16px;
  font-weight: 600;
}

/** 
.loginPage {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80%;
  margin: auto;
}

.loginPage .bg {}

.loginPage .bgImg {}

.loginPage .loginWrap {
  padding: 36px;
  background: #fff;
  width: 80%;
  text-align: center;
}

.loginPage .loginWrap p {
  margin: 24px auto;
}

.loginInner input,
.loginInner button {
  width: 80%;
}

.tipsWrap {
  width: 80%;
  text-align: right;
}

.tipsWrap a {
  color: #ccc;
  font-size: 14px;
}
**/